
.about-me-main{
  height: auto;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  overflow: hidden;

}

.aboutme{
  text-align: center;
  padding: 15px;
  font-size: 1.1em;
  letter-spacing: 3px;
  color: black;
  width: 100%; 
  position: relative;
  height: auto;
  background-color: white
}
.textfield{
  padding-bottom: 20px; 
 }

.my-image {
  padding-bottom: 20px;
  position: relative;
}

.my-image img{
  border-radius: 50%;
  width: 150px;
  height:150px
}

.indivual-container1{
  height: 120px;
  display:flex;
  position: absolute;
  left:0;
  top:10px;

}
.indivual-container2{
  height: 120px;
  display:flex;
  position: absolute;
  right:0;
  top:10px;

}

.individual-boxes:nth-child(1){
  background-color: #8b7498;
}
.individual-boxes:nth-child(2){
  animation-delay: 0.1s;
}
.individual-boxes:nth-child(3){
  animation-delay: 0.2s;
  background-color: #9c3368;
}
.individual-boxes:nth-child(4){
  animation-delay: 0.3s;
}

.individual-boxes2:nth-child(1){
  background-color: #8b7498;
}
.individual-boxes2:nth-child(2){
  animation-delay: 0.1s;
}
.individual-boxes2:nth-child(3){
  animation-delay: 0.2s;
  background-color: #9c3368;
}
.individual-boxes2:nth-child(4){
  animation-delay: 0.3s;
}


@keyframes loading{
  0%{
    height:0
    
  }
  50%{
    height:120px
  }
  100%{
    height:0
  }
}
.individual-boxes{
  width:7px;
  background: white;
  margin: 0 5px;
  border-radius: 10px;
  text-align: center;
  background: #c77597;
  animation: loading 0.8s infinite

}

.individual-boxes2{
  width:7px;
  background: white;
  margin: 0 5px;
  border-radius: 10px;
  text-align: center;
  background: #c77597;
  animation: loading 0.8s infinite

}

.icon-second-container {
  width: 90%;
  text-align: center;
  margin: auto;
}

.middle-second-text-area-second {
  display: flex;
  width: 100%;
  margin-top: 0;
  position: relative;
  height: auto
}

.icon-btn {
  display: inline-block;
  text-align: center;
}

@media only screen and (min-width: 760px){
  .my-image img{
    border-radius: 50%;
    width: 350px;
    height:350px
  }

}

@media only screen and (max-width: 500px){
  .aboutme{
    font-size: 0.9em;
  
  }
  .middle-second-text-area-second { 
  display: flex;
  width: 100%;
  margin-top: -13px;
  }

}
@media only screen and (min-width: 1000px){
.icon-btn i .fa-envelope {
    line-height: 78px;
    font-size: 48px;
}
}

@media only screen and (min-width: 1500px){
  .inner-page-1{
    width:2.5%;
  }

}

