
.about-me-main{
  height: auto;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  overflow: hidden;

}

.aboutme{
  text-align: center;
  padding: 15px;
  font-size: 1.1em;
  letter-spacing: 3px;
  color: black;
  width: 100%; 
  position: relative;
  height: auto;
  background-color: #1d002e;
}


#affiong{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #1d002e;
  font-size: 2rem;
  
}
.textfield{
  padding-top: 20px; 
  padding-left: 20px;
  width:50%;
  height: auto;

 }

 .textfield p {
  color: #ff4545;
}

.textfield i {
  color: #ff4545;
}

.my-image {
  padding-bottom: 20px;
  position: relative;
  width: 50%;
  height: auto;
  border-right: 4px solid white ;
}

.my-image img{
  border-radius: 50%;
  width: 150px;
  height:150px;
}

.indivual-container1{
  height: 120px;
  display:flex;
  position: absolute;
  left:0;
  top:10px;

}
.indivual-container2{
  height: 120px;
  display:flex;
  position: absolute;
  right:0;
  top:10px;

}



.individual-boxes:nth-child(1){
  background-color: #8b7498;
}
.individual-boxes:nth-child(2){
  animation-delay: 0.1s;
}
.individual-boxes:nth-child(3){
  animation-delay: 0.2s;
  background-color: #9c3368;
}
.individual-boxes:nth-child(4){
  animation-delay: 0.3s;
}

.individual-boxes2:nth-child(1){
  background-color: #8b7498;
}
.individual-boxes2:nth-child(2){
  animation-delay: 0.1s;
}
.individual-boxes2:nth-child(3){
  animation-delay: 0.2s;
  background-color: #9c3368;
}
.individual-boxes2:nth-child(4){
  animation-delay: 0.3s;
}


@keyframes loading{
  0%{
    height:0
    
  }
  50%{
    height:120px
  }
  100%{
    height:0
  }
}
.individual-boxes{
  width:7px;
  background: white;
  margin: 0 5px;
  border-radius: 10px;
  text-align: center;
  background: #c77597;
  animation: loading 0.8s infinite

}

.individual-boxes2{
  width:7px;
  background: white;
  margin: 0 5px;
  border-radius: 10px;
  text-align: center;
  background: #c77597;
  animation: loading 0.8s infinite

}


.middle-second-text-area .icon-container-second {
  width: 50%;
  text-align: center;
}

.icon-container-second .icon-btn {
  display: inline-block;
  width: 55px;
  height: 55px;
  background-color: #1d002f;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: white;
  overflow: hidden;
  position: relative;
}

.icon-container-second .icon-btn i{
  line-height: 60px;
}


.about-me-content{
  width:90%;
  max-width: 1200px;
  height:auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  position: relative;
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 3px #47012280;
  margin-bottom: 80px;
  padding: 30px;
}

.indivual-container-main{
  width:100%
}

@media only screen and (min-width: 760px){
  .my-image img{
    border-radius: 50%;
    width: 350px;
    height:350px
  }

}

@media only screen and (max-width: 500px){
  .aboutme{
    font-size: 0.9em;
  
  }
  .icon-container-second {
    width: 100%;
    text-align: center;
  }

  .icon-container-second .icon-btn i {
    line-height: 60px;
    color: white
  }

  


}


@media only screen and (max-width: 950px){

  .textfield{
    width:100%;
    height: auto;
  
   }
   .textfield p{
    width:100%;
    height: auto;
    color: #9c3368
  
   }
   .aboutme{
    background-color: white
  }

   .textfield i {
    color: white;
  }
  
  .my-image {
    position: relative;
    width: 100%;
    height: auto;
  }

  .my-image img {
    width: 150px;
    height: 150px;
}

  .about-me-content{
    background-color: white;
    box-shadow: 0px 0px transparent;
   
  }

  .about-me-content {
      width: 100%;
      padding: 0px;
      margin-top: 70px;
  }

}

@media only screen and (min-width: 1500px){
  .inner-page-1{
    width:2.5%;
  }

}




