.about-me-main{
  height: auto;
  width: 100%;
  position: relative;
  background-color: white;
  display: flex;
  overflow: hidden;

}

.inner-page-1{
  width:10%;
  background-color: #8b7498; 
  height: auto;
  color: white;
  text-transform: uppercase;
  text-align: center;
  writing-mode: vertical-rl; 
  padding-right: 14px;
  position: relative;
}
.aboutme{
  text-align: center;
  padding: 15px;
  font-size: 1.1em;
  letter-spacing: 3px;
  color: black;
  width: 90%; 
  position: relative;
  height: auto;
  background-color: white
}
.textfield{
  padding-bottom: 20px; 
 }


.my-image {
  padding-bottom: 20px;
  position: relative;
}

.my-image img{
  border-radius: 50%;
  width: 200px;
  height:200px
}

.icon-second-container {
  width: 90%;
  text-align: center;
  margin: auto;
}

.middle-second-text-area-second {
  display: flex;
  width: 100%;
  margin-top: 0;
  position: relative;
  height: auto
}

.icon-btn {
  display: inline-block;
  text-align: center;
}

@media only screen and (min-width: 760px){
  .my-image img{
    border-radius: 50%;
    width: 350px;
    height:350px
  }
  .inner-page-1{
    width:5%;
    background-color: #883a59;;
  
  }
  .aboutme{
    width: 95%
  
  }

}

@media only screen and (max-width: 500px){
  .aboutme{
    font-size: 0.9em;
  
  }
  .middle-second-text-area-second { 
  display: flex;
  width: 100%;
  margin-top: -13px;
  }

}
@media only screen and (min-width: 1000px){
.icon-btn i .fa-envelope {
    line-height: 78px;
    font-size: 48px;
}
}
