
body{
  margin: 0 !important;
  background-color: black
}

#root{
background-color: white;
height: 100vh;
overflow-y: scroll
}
.mainBody{
background-color: #020202;
height: 100vh;
color:white;
}

.small-view{
  height: 100%;
  background-color: #020204;
  position: relative;
}

.mainArea{
  width:100%;
  max-height:100vh;
}

.img-fluid{

  height: 100%;
  position: absolute;
  right: 0;
}

.middle-main{
height: 100%;
width: 100%;
/* background-color: rgba(0, 0, 0, 0.1); */
background-color: #0000009e;
position: absolute;
top:0
}

.main-text-area{
display: flex;
text-align: center;
height: 20%;
width: 100%;
/* font-size: calc(3.6em + 4vmin); */
/* color: #721cff */
font-size: 3.6em;
font-weight: 10

}

.j-writing{
  width:20%;
  height:100%;
}
  
.e-writing{
  width:20%;
  height:100%;
}

.n-writing{
  width:20%;
  height:100%;
}
  
.n2-writing{
  width:20%;
  height:100%;
}
.y-writing{
  width:20%;
  height:100%;
}
.middle-text-area{
  display: flex;
  height: 60%;
  width: 100%;

}
.icon-container{
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width:100%;
  text-align: center

}

#textWrite{
  position: absolute;
  top:35%;
  transform: translateY(-35%);
  width:100%;
  font-size: 3em;
  text-align: center
}


.icon-btn{
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: #1d002f;
  margin:10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: white;
  overflow: hidden;
  position: relative;
}

.icon-btn i{
  line-height: 50px;
  font-size: 23px;
  transition: 0.2s linear;
}

.icon-btn i{
  scale:1.3;
}
.color-icon-btn{
  color: #ff007945
}

.icon-btn::before{
  content:"";
  position: absolute;
  width: 120%;
  height: 120%;
  background:#9c3368;
  transform: rotate(45deg);
  left:-110%;
  top:90%
}

.icon-btn:hover::before{
  animation: aaa 0.7s 1;
  top:-10%;
  left:-10%;
}

.second-text-area{
  /* font-size: calc(3.6em + 4vmin); */
  font-size: 3.6em;
  font-weight: 10;
  -webkit-text-size-adjust: 4em
}

@keyframes aaa{
  0%{
    left:-110%;
    top:90%
  }
  50%{
    left:10%;
    top:-30%
  }
  100%{
    left:-10%;
    top:-10%
  }


}

@media only screen and (min-width: 510px){
  .icon-container{

    top:45%;
    transform: translateY(-50%);
    left:50%;
    transform: translateX(-50%);
    width:100%;
    text-align: center
  
  }
  #textWrite{
    position: absolute;
    top:30%;
    transform: translateY(-30%);
    left:33%;
    transform: translateX(-40%);
    width:100%;
    font-size: 4em;
    text-align: center
  }

  .icon-btn{
    display: inline-block;
    width: 70px;
    height: 70px;
    margin:20px;
  }
  
  .icon-btn i{
    line-height: 70px;
    font-size: 27px;
    transition: 0.2s linear;
  }
}

.particles{
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
}

.second-text-area{
  display: flex;
  text-align: center;
  height: 20%;
  width: 100%;
  position: absolute;
  bottom: 0;
  
}
  
  .d-writing{
    width:16%;
    height:100%;
  }
    
  .e-writing{
    width:16%;
    height:100%;
  }
  
  .s-writing{
    width:16%;
    height:100%;
  }
    
  .i-writing{
    width:20%;
    height:100%;
  }
  .g-writing{
    width:16%;
    height:100%;
  }
  .n-writing{
    width:16%;
    height:100%;
  }

  .wrap{
    position: absolute;
    width: 70px;
    height: 70px;
    top: 50%;
    left: 50%;
    margin: -10px 0 0 -10px;
    overflow: hidden;
    touch-action: none;
    /* transition: s */
  }

  #ball{
    width: 60px;
    height: 60px;
    border: 1px solid #ff00d1;
    background-color: #9c3368;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top: 25%;
    margin: -12px 0 0 -12px;
    pointer-events: none;
    transition: 0.1s
  }

@media only screen and (min-width: 750px){
  .main-text-area{
    font-size: 5.6em; 
  }
  .second-text-area{
    font-size: 5.6em; 
  }
}

/*=============== media queries ================*/
@media only screen and (min-width: 1150px){
  .middle-main{
    background-color: #00000000;
    }
  
  .colorGirl{
    max-width: 800px;

  }
}

@media only screen and (min-width: 1020px) and (max-width: 1030px){
  .icon-btn {
    display: inline-block;
    width: 90px;
    height: 90px;
    margin: 20px;
  }
  .icon-container .icon-btn i {
    line-height: 90px;
    font-size: 33px;
  }
  
}

@media (orientation: landscape) and (max-width: 850px) {
  .icon-container .icon-btn {
    width: 60px;
    height: 60px;
    margin: 20px;
  }
  .icon-container .icon-btn i {
    line-height: 60px;
    font-size: 27px;
  }

  .main-text-area{
    font-size: calc(2.6em + 2vmin);
    
  }
  .second-text-area{
    font-size: calc(2.6em + 2vmin);
    
  }

}
