#root{
  margin: 0;
  padding: 0;
  background: black;
  animation: coloring 2s 5
}
.loading{
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60px;
  display:flex;
  

}
.obj{
  width:10px;
  height:70px;
  background: white;
  margin: 0 5px;
  border-radius: 10px;
  animation: loading 0.8s infinite
}
.hello {
  font-size: 4em;
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-48%,-50%);
  color:white;
}

.obj:nth-child(1){
  background-color: #8b7498;
}
.obj:nth-child(2){
  animation-delay: 0.1s
}
.obj:nth-child(3){
  animation-delay: 0.2s;
  background-color: #9c3368;
}
.obj:nth-child(4){
  animation-delay: 0.3s
}
.obj:nth-child(5){
  animation-delay: 0.4s;
  background-color: #8b7498
}
.obj:nth-child(6){
  animation-delay: 0.6s
}
.obj:nth-child(7){
  animation-delay: 0.7s;
  background-color: #8b7498;
}
.obj:nth-child(8){
  animation-delay: 0.8s;
}
.obj:nth-child(9){
  animation-delay: 0.7s;
  background-color: #8b7498;
}
.obj:nth-child(10){
  animation-delay: 0.8s;
  background-color: #ff007945
}

@keyframes loading{
  0%{
    height:0
    
  }
  50%{
    height:60px
  }
  100%{
    height:0
  }
}
/* 
@keyframes coloring{
  0%{
    background-color: black
    
  }
  50%{
    background-color: #ff007945
  }
  100%{
    background-color: #8b7498;
  }

} */

