.secondPageMain{
  width: 100%;
  position: relative;
  height: 100vh;
  overflow-x: hidden;
  background-color: #1d002e
}
.particle-second-page{
  position: absolute;
  width: 100%;
  height: 100%;
}
.page-with-content{
  width: 100%;
  height: 100%;
  background-color: transparent;
  padding-top: 30px;
}
.card-wrapper{
  display: flex;
  position: relative;
  flex-wrap: wrap;
}
.card-title{
  color: white;
  font-size: 1.6em;
}
.card-text{
  color: black;

}
.card{
  margin: 50px auto;
  background-color: #8b7498
}
.card-body a{
    color: #b7e6e3;
}
.projects{
  text-align: center;
  padding: 10px;
  font-size: 2.5em;
  letter-spacing: 8px;

}
.div-containing-icon{
  padding-top: 20px;
  position: relative;
}

.middle-second-text-area{
  display: flex;
  width: 100%;
  margin-top: 20px

}

.carousel {
  position: relative;
  width: 75%;
  margin: auto;    
  padding-top: 20px;
}
/* .carousel-inner {
  height: 350PX;
} */

.carousel img{
  height: 400px;
  /* object-fit: contain; */
  width: 400px
}

@media only screen and (max-width: 750px){
  .card-wrapper{
    overflow-x: scroll
  }
}

@media only screen and (min-width: 769px) and (max-width:950px){
  .card {
    margin: 50px 50px
  }
}

